@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
 background: linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%));
 font-family: 'Kumbh Sans', sans-serif;
 font-size: .75rem;
 display: flex;
 justify-content: center;
 align-items: center;
 min-height: 100vh;
 margin-top: 1.1875rem;
}